.card-title {
  color: #083863;
}

.text {
  color: goldenrod;
}

.card-text-text {
  color: #083863;
}
.hl {
  border: none;
  height: 1px;
  width: 280px;
  margin-left: 5%;
  background: black;
}

.navbar-brand {
  color: #083863;
}

.list-unstyled {
  text-align: left;
  margin-left: 5%;
}
